.container {
  display: grid; 
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto auto;  
  gap: 0px 0px; 
  grid-template-areas: 
    "toolbarLeft toolbarMid toolbarRight"
    "regionBefore middle regionAfter";
}

.toolbarLeft {
  grid-area: toolbarLeft;
}
.toolbarMid {
  grid-area: toolbarMid;

  padding: 0 6px;
}
.toolbarRight {
  grid-area: toolbarRight;
}

.regionBefore {
  grid-area: regionBefore;
}

.middle {
  grid-area: middle;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px;
}

.regionAfter {
  grid-area: regionAfter;
}

