.container {
  display: flex;
  flex-direction: row;
  gap: 6px;
  margin-top: 12px;
}

.rightSideToolbar {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-left: 12px;
  min-width: 250px;
}